.number {
    font-size: 111px;
}

.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
}

.increment {
color: green;
}

.decrement {
color: red;
margin-left: 10px;
}

.click-parent {
    display: flex;
    flex-direction: row;
}